<template>
    <div>
        <v-card>
            <v-card-text>
                 <v-list three-line>
            <!-- <v-list-item v-for="(admin, index) in adminsList" :key="index">
                {{admin}}
            </v-list-item> -->
             <v-list-item  v-for="(admin, index) in adminsList" :key="index">
            <v-list-item-avatar>
                <v-img :src="admin.picture" ></v-img>
            </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>{{admin.name}} {{admin.lastName}}</v-list-item-title>

                <v-list-item-subtitle
                  class="text--primary"
                  v-text="admin.email"
                ></v-list-item-subtitle>
                <v-list-item-subtitle>role: {{admin.role}}</v-list-item-subtitle>
                <v-list-item-subtitle>status: {{admin.status}}</v-list-item-subtitle>

              </v-list-item-content>

              <v-list-item-action>
                  <v-spacer></v-spacer>
                  <v-row>
                      <v-col cols="6"></v-col>
                      <v-col cols="3">
                            <v-btn color="primary" small icon  @click="editAdmin(admin)">
                           <v-icon>
                               mdi-pencil
                           </v-icon>
                       </v-btn>
                      </v-col>
                       <v-col cols="3">
                          <v-btn color="#EF5350" icon  small rounded  @click="deleteAdmin(admin)" :disabled="admin.status > 0">
                            <v-icon>
                               mdi-delete
                           </v-icon>
                       </v-btn>
                      </v-col>
                  </v-row>
                       <!-- <v-btn color="primary" small rounded  @click="">
                           buy
                       </v-btn>
                       <v-btn color="primary" small rounded  @click="">
                           buy
                       </v-btn> -->
                   </v-list-item-action>
           
          </v-list-item>
        </v-list>
         
            </v-card-text>
            
        </v-card>
       <v-dialog v-model="editDialog">
           <v-edit-admin @close="editDialog = false" :adminDataProp="adminToedit" v-if="editDialog"></v-edit-admin>
       </v-dialog>
    </div>

</template>
<script>
import {mapGetters} from 'vuex';
import editAdmin from './editAdmin.vue'
export default {
   components: {
       'v-edit-admin':editAdmin
   },
    data: ()=>({
      adminToedit:null,
      editDialog:false
    }),
    computed:{
        ...mapGetters(["adminsList"]),
        
    },
    mounted(){
        this.loadAdminsList();
    },
    methods:{
        loadAdminsList:function(){
            this.$store.dispatch("getAdminList");
        },
        editAdmin : function(data){
            this.adminToedit = data;
            this.editDialog = true;
        },
        deleteAdmin : function(data){
            let that = this;
            this.$swal({
                title: 'Are you sure?',
                text: "Deleting Admin: "+data.name,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        that.$store.dispatch("deleteAdmin", {id:data._id}).then(result=>{
                            that.loadAdminsList();
                            that.$swal(
                                'Deleted!',
                                'The admin has been deleted.',
                                'success'
                            )
                        }).catch(error=>{
                            this.$swal({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Something went wrong!',
                                footer: error
                            })
                        })
                    }
            })
        }
    }
}
</script>
