<template>
    <div>
       <v-card >
    <v-toolbar color="#5285d4" dark>

      <v-toolbar-title>Create new admin</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon @click="$emit('close')">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-toolbar>
    <v-card-text>
        <v-row>
            <v-col cols="12" sm="6" md="3">
                <v-text-field label="Name" outlined v-model="adminData.name" :rules="fieldRules" @keyup="checkValidity"></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="3">
                <v-text-field label="Last name" outlined v-model="adminData.lastName" :rules="fieldRules" @keyup="checkValidity"></v-text-field>
            </v-col>
             <v-col cols="12" sm="6" md="3">
                <v-text-field label="Email" outlined v-model="adminData.email" :rules="emailRules" @keyup="checkValidity"></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="3">
                <v-text-field label="role" outlined v-model="adminData.role" :rules="fieldRules" @keyup="checkValidity"></v-text-field>
            </v-col>
        </v-row>
    </v-card-text>
    <v-card-actions>
        <v-btn block color="primary" @click="createNewAdmin" :loading="loadingCreateAdmin" :disabled="disabledButton"> create new admin</v-btn>
    </v-card-actions>
        </v-card>
    </div>
</template>
<script>
export default {
    data: ()=>({
        disabledButton:true,
        loadingCreateAdmin:false,
         emailRules: [
            value => !!value || 'Required.',
            value => (value && /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(value)) || 'Invalid email',
      ],
      fieldRules:[value => !!value || 'Required.',],
       adminData:{
           
           name:'',
           lastName:'',
           role:'',
           email:''
       }
    }),
    computed:{
        
        
    },
    methods:{
        createNewAdmin(){
            this.loadingCreateAdmin = true;
            this.$store.dispatch("addAdmin", this.adminData).then(result=>{
                this.loadingCreateAdmin = false;
                 this.$store.dispatch("getAdminList");
                 this.$swal( 'Created!',
                                'The admin has been created.',
                                'success')
                 this.$emit('close');
            }).catch(error =>{
                this.loadingCreateAdmin = false;
                this.$swal({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong!',
                footer: error
                })
            })
        },
        validateEmail() {
    if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(this.adminData.email)) {
       return true
    } else {
       return false
    }
},
        checkValidity(){
            if(this.adminData.name.trim() != '' && this.adminData.lastName.trim() != '' && this.adminData.role.trim() != '' && this.validateEmail()){
                console.log('all good');
                this.disabledButton = false;
            }
            else{
                this.disabledButton = true;
            }
        }
    }
}
</script>