<template>
    <div>
       <v-card >
    <v-toolbar color="#5285d4" dark>

      <v-toolbar-title>Update admin</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon @click="$emit('close')">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-toolbar>
    <v-card-text>
        <v-row>
            <v-col cols="12" sm="6" md="3">
                <v-text-field label="Name" outlined v-model="adminData.name" :rules="fieldRules" @keyup="checkValidity"></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="3">
                <v-text-field label="Last name" outlined v-model="adminData.lastName" :rules="fieldRules" @keyup="checkValidity"></v-text-field>
            </v-col>
             <v-col cols="12" sm="6" md="3">
                <v-text-field label="Email" outlined v-model="adminData.email" :rules="emailRules" @keyup="checkValidity"></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="3">
                <v-text-field label="role" outlined v-model="adminData.role" :rules="fieldRules" @keyup="checkValidity"></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="3">
                <v-row>
                    <v-col cols="4">
                       <v-btn color="primary" small :disabled="adminData.status == 0" @click="setStatus(0)">pending</v-btn>
                    </v-col>
                     <v-col cols="4">
                         <v-btn color="#26A69A" small :disabled="adminData.status == 1" @click="setStatus(1)">confirmed</v-btn>
                    </v-col>
                     <v-col cols="4">
                          <v-btn color="#EF5350" small :disabled="adminData.status == 2" @click="setStatus(2)">disabled</v-btn>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
    </v-card-text>
    <v-card-actions>
        <v-btn block color="primary" @click="updatedAdmin" :loading="loadingCreateAdmin" :disabled="disabledButton"> updated admin</v-btn>
    </v-card-actions>
        </v-card>
    </div>
</template>
<script>
export default {
    props: ['adminDataProp'],
    data: ()=>({
        disabledButton:true,
        loadingCreateAdmin:false,
         emailRules: [
            value => !!value || 'Required.',
            value => (value && /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(value)) || 'Invalid email',
      ],
      fieldRules:[value => !!value || 'Required.',],
       adminData:{
           
           name:'',
           lastName:'',
           role:'',
           email:'',
           status:0
       }
    }),
    created(){
        this.adminData.name = this.adminDataProp.name;
        this.adminData.lastName = this.adminDataProp.lastName;
        this.adminData.email = this.adminDataProp.email;
        this.adminData.role = this.adminDataProp.role;
        this.adminData.status = this.adminDataProp.status;
    },
    computed:{
        
        
    },
    methods:{
        setStatus(status){
            this.adminData.status = status;
            this.checkValidity();
        },
        updatedAdmin(){
            this.loadingCreateAdmin = true;
            let data = this.adminData;
            if(this.adminDataProp.status > 0){
              
              delete data.email;
            }
            
            this.$store.dispatch("updateAdmin", {id:this.adminDataProp._id, data:data}).then(result=>{
                this.loadingCreateAdmin = false;
                 this.$store.dispatch("getAdminList");
                 this.$swal( 'Updated!',
                                'The admin has been updated.',
                                'success')
                 this.$emit('close');
            }).catch(error =>{
                this.loadingCreateAdmin = false;
                this.$swal({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong!',
                footer: error
                })
            })
        },
        validateEmail() {
    if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(this.adminData.email)) {
       return true
    } else {
       return false
    }
},
        checkValidity(){
            if(this.adminData.name.trim() != '' && this.adminData.lastName.trim() != '' && this.adminData.role.trim() != '' && this.validateEmail()){
                console.log('all good');
                this.disabledButton = false;
            }
            else{
                this.disabledButton = true;
            }
        }
    }
}
</script>