<template>
  <v-app>
    <v-app-bar
      app
      color="#5285d4"
      
    >
     <v-btn
  color="accent"
  elevation="6"
  fab
  large
  bottom
   absolute
  right
  @click="createDialog = true"
>
<v-icon>
  mdi-account-plus
</v-icon>
</v-btn>
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="@/assets/logo.jpg"
          transition="scale-transition"
          width="40"
        />
      </div>

        <v-toolbar-title>
          JOOYCAR ADMIN TEST
        </v-toolbar-title>
    </v-app-bar>

    <v-main>
      
      <v-container>
        <v-admin-list></v-admin-list>
      </v-container>
     <v-dialog v-model="createDialog">
           <v-admin-create @close="createDialog = false"></v-admin-create>
       </v-dialog>
    </v-main>
  </v-app>
</template>

<script>

import AdminList from './components/adminsList.vue'
import CreateAdmin from './components/createAdmin.vue'
export default {
  name: 'App',
  components: {
    'v-admin-list':AdminList,
    'v-admin-create':CreateAdmin
  },

  data: () => ({
     createDialog:false
  }),
};
</script>
